<% if true %>
  <% if current_user %>
    Signed in as <%= current_user.name %>!
    <%= link_to "Sign out", signout_path %>
    <span>Total calories burned per last activity <%= @last_activity["total_calories"] %></span>
  <% else %>
    <%= link_to "Sign in with Runkeeper", "/auth/runkeeper" %>
  <% end %>
<% end %>

