/* === General Styles === */

html,
div,
span,
head,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
font,
img,
small,
strong,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

ol,
ul {  list-style: none }

blockquote,
q {  quotes: none }

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1;
}

/*p { font-family: Serif}*/



.container {
  width: 885px;
  margin: 0 auto;
}

#main {
    margin: 0 auto;
    padding: 0;
    height: 430px;
}

ul.activities {
  margin-left: 10px;
}

.activities li{
  width: 300px;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.activities li.active {
  background-color: #E0E0E0;
}